apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: development
resources:
  - ../../base
  - namespace.yaml
patches:
  - path: deployment.yaml
configMapGenerator:
  - name: app-conf
    literals:
      - APP_STORE="redis"
      - APP_REDIS_URL="redis://redis:6379"
